{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Top Anime</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>
    <body>

        <div class="container">

            <div class="image-container">
                <div class="text-box">
                    <h2>Suzume No Tojimari</h2>
                    <p id="paragraph">Literally about a girl and a talking chair.</p>
                </div>
            </div>
            
            <div class="image-container">
                <div class="text-box">
                    <h2>Suzume No Tojimari</h2>
                    <p id="paragraph">Literally about a girl and a talking chair.</p>
                </div>
            </div>
            <div class="image-container">
                <div class="text-box">
                    <h2>Suzume No Tojimari</h2>
                    <p id="paragraph">Literally about a girl and a talking chair.</p>
                </div>
            </div>
            <div class="image-container">
                <div class="text-box">
                    <h2>Suzume No Tojimari</h2>
                    <p id="paragraph">Literally about a girl and a talking chair.</p>
                </div>
            </div>
        </div>
    </body>
</html>

<!--
You know what would be cool?
FLOATING SAKURA ON THE WEBPAGE

-->
