{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Top Anime</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>
    <body>

        <div class="container">

            <div class="image-container">
                <div class="text-box">
                    <h2>Suzume No Tojimari</h2>
                    <p id="paragraph">
                        After accidentally opening an isolated door and releasing evil into the world,
                        Suzume journeys across Japan to prevent the evil from festering, by finding and
                        locking all open doors before the country is destroyed.
                    </p>
                </div>
            </div>
            
            <div class="image-container">
                <div class="text-box">
                    <h2>Fate/stay night: Unlimited Blade Works</h2>
                    <p id="paragraph">
                        Two students, Rin and Emiya, find themselves in a magical battle royale between
                        Heroic spirits to obtain a prize. 
                    </p>
                </div>
            </div>
            <div class="image-container">
                <div class="text-box">
                    <h2>86 Eighty-Six</h2>
                    <p id="paragraph">
                        In a world where soldiers are forced to fight autonomous robots, 
                        a new commander Lena, who is sympathetic to these soldiers' plight assumes control
                        of an infamous squadron known for being the best in the military.
                    </p>
                </div>
            </div>
            <div class="image-container">
                <div class="text-box">
                    <h2>Sword Art Online</h2>
                    <p id="paragraph">
                        Players from all over the world can now experience the immersive full-dive virtual reality,
                        Sword Art Online. However, players Kirito and Asuka are horrified to find out that they
                        are trapped within the game.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>

<!--
You know what would be cool?
FLOATING SAKURA ON THE WEBPAGE

-->
