{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Top Anime</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>
    <body>

        <div class="container">
            {% for anime in animes %}
                <div class="image-container" style="background-image: url('{{ anime.IMGPATH }}');">
                    <div class="text-box">
                        <h2>{{ anime.TITLE }}</h2>
                        <p id="paragraph">{{ anime.DESCR }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>

<!--
You know what would be cool?
FLOATING SAKURA ON THE WEBPAGE

-->
